@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
body {
    font-family: 'Bungee';
}
body {
    background-color: white;
}

header {
    color: #7944e6;
    text-align: right;
    margin: 5%;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }

  li {
      display: inline;
      margin-right: 8px;
  }

  #logo {
      float: left;
  }


p {
    text-align: center;
}
section {
    background-color: #ff00ff;
    padding: 5%;
    margin: 5%;
}
h2 {
    text-align: center;
}
h3{
    text-align: left;
}

div {
    background-color: white;
    border: 10px solid #7944e6;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
}


@media screen and (min-width: 768px) {
.side-by-side-container {
    display: flex;
    }

.side-by-side-item {
    width: 50%;
}

.column1. .column2. .column3. {
    width: 31.3%;
    overflow: auto;
    margin: 1.5em;
    padding-right: 20em;
    }

div {
    width: 20em;
    display: inline-table;
    overflow: auto;
    margin: 3.5%;
    margin-bottom: 0%;
    padding: 1%;
    border: 10%;
    text-align: center;
}

img {
    width: 70%;
    height: 60%;
}

#logo {
    width: 15%;
    border-top: 0%;
}

}